*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2c2c2c;
}
.flexblox{
    display: flex;
}
header{
    height: 900px;
    margin-top: 20px;
    width: 100%;
}
nav{
    margin-left: 10%;
    margin-top: 50px;
    z-index: 1;
    position: absolute;
    width: 90%;
}
nav ul{
    display: flex;
    list-style-type: none;
    background-color: #252525;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}
nav ul li a{
    display: inline-block;
    padding: 20px 0px;
    color: #fff;
    text-decoration: none;
    margin-left: 8px;
}
nav ul li a:hover{
    display: inline-block;
    padding: 12px 0px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
}
.button{
    display: inline-block;
    background-color: rgb(197, 169, 7);
    color: #fff;
    padding: 4px;
    text-decoration: none;
    border-radius: 6px;
    justify-self: center;
}
#image{
    background: url(imgs/barbearia32.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 1%;
    margin-bottom: 20px;
    background-color: #242424;
}
.corte{
    display: flex;
    flex-flow: row nowrap;
    background-color: #242424;
    margin-bottom: 1%;
    width: 60%;
    margin-left: 1%;
    padding: 2%;
    border: 1px solid #242424;
    border-radius: 6px;
    color: #e0e0e0e7;
}
.corte h4{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-left: 25%;
}
.corte-texto{
    margin-top: 1%;
    padding: 12px;
}
.corte-texto h4{
    text-align: center;
}
.barber h5{
    text-transform: uppercase;
    color:white;
}
h5.barber{
    text-align: center;
}
#barbers{
    flex-flow: row nowrap;
    justify-content: space-around;
}





footer {
display: flex;
flex-direction: row;
justify-content: space-around ;
align-content: center;
color: white; 
background-color:   #242424;}

.itens-footer{
            display: flex;
            flex-basis: calc(100%/3);
}
